{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/css/pico.min.css">
    <title>Bewerbungstool</title>
</head>

<body>
    <header class="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/firma">Firmen</a></li>
                <li><a href="/contact">Kontakte</a></li>
            </ul>
            <ul>
                <li><button onclick="window.location.href='/contact/add'">Kontakt hinzufügen</button></li>
                <li><button onclick="window.location.href='/firma/add'">Firma hinzufügen</button></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        {{template "content" .}}
    </main>

    <script src="/js/htmx-2.0.8.min.js"></script>
</body>

</html>
{{end}}