{{define "content"}}
<div>
    {{range .Contacts}}
    <article {{if (eq .Age 2)}}style="background-color: red;"{{else}}{{if (eq .Age 1)}}style="background-color: yellow;"{{end}}{{end}}>
        <div class="grid">
            <h2>{{.Firma}}</h2>
            <p>{{.Date}}</p>
            <h3 style="margin-top: 0;">{{.Status}}</h3>
            <button class="contrast" style="background-color: red;" hx-delete={{.Id}} hx-trigger="click" hx-swap="delete" hx-target="closest article">Delete</button>
        </div>
    </article>
    {{end}}
</div>
{{end}}