{{define "content"}}
<form method="post">
    <h2>{{if .}}Firma {{.Firma.Name}} verändern{{else}}Neue Firma erfassen{{end}}</h2>
    <fieldset><label for="name">Firmenname:</label><input autofocus type="text" name="name" id="name" {{if .}}value={{.Firma.Name}} {{end}}></fieldset>
    <fieldset><label for="text">Text:</label><textarea name="text" id="text">{{.Firma.Text}}</textarea></fieldset>
    <fieldset><label for="urls">Urls: </label><textarea name="urls" id="urls">{{.Firma.Urls}}</textarea></fieldset>

    <input type="submit" value="Speichern">
</form>
{{end}}